@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: 'Raleway', cursive;
    color: #464646;

    background-color: #F5F5F5;
}

#cabecalho{
    margin: 0px 150px;
    padding: 32px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1em;
}

#cabecalho > p{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}

.lista_menu{
    display: flex;
    gap: 25px;

    font-weight: 500;
}
.links{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #464646;
}

#principal{
    margin: 0px 150px;
}

/*Introdução*/
#intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#intro_text > h1{
    font-size: 3.25em;
    font-weight: 700;
}
#intro_text > p{
    font-size: 1.5em;
    font-weight: 400;
}
#intro_text > span{
    display: flex;
    gap: 32px;

    font-size: 1em;
    font-weight: 500;   
}

#minha_foto{
    height: 368px;
    width: 368px;
    
    border-radius: 50%;
}

/*Sobre mim*/
#sobre_mim{
    margin: 32px -150px;
    padding: 32px 150px;

    display: flex;
    flex-direction: column;

    gap: 16px;
    
    background-color: #eaf2fd;
}

.subtitulo{
    font-size: 2em;
    font-weight: 700;
}

#sobre_mim > h2{
    background-color: #eaf2fd;
}

#sobre_mim > p{
    max-width: 750px;
    background-color: #eaf2fd;

    text-align: justify;
}

.ass{
    width: 140px;
    height: 52px;
    background-color: #eaf2fd;
}

/*Partes com lista*/
.principal_parte{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.lista_horizontal{
    display: flex;
    gap: 16px;

    justify-content: center;
}

.principal_parte > h2{
    text-align: center;
}
/*Skills e Hobbies*/
.icone{
    height: 37px;
    width: 37px;
}

#lista_skills > li{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    padding: 16px;
    justify-content: flex-end;

    width: 176px;
    height: 174px;

    background-color: white;
    font-weight: 700;
}

#lista_hobbies > li{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    padding: 16px;
    justify-content: flex-end;

    width: 176px;
    height: 174px;

    background-color: white;
    font-weight: 700;
}

/*Formação*/
#formacao{    
    margin: 32px -150px;
    padding: 82px 150px;
    background-color: #eaf2fd;
}

#formacao > h2{
    background-color: #eaf2fd;
}

#lista_formacao{
    background-color: #eaf2fd;
}

#lista_formacao > article{
    display: flex;
    flex-direction: column;

    gap: 8px;
    background-color: #eaf2fd;
}

.formacao_imagem{
    display: flex;

    width: 400px;
    height: 347px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.formacao_imagem > img{
    background-color: white;
}
#ufrn{
    width: 300px;
    height: 190px;
}
#cev{
    width: 300px;
    height: 110px;
}
#ifrn{
    width: 300px;
    height: 110px;
}

#lista_formacao > article > h3{
    font-size: 22px;
    font-weight: 700;
    background-color: #eaf2fd;
}

#lista_formacao > article > p{
    font-weight: 500;
    background-color: #eaf2fd;
}

/*Experiência Profissional*/
#exp{
    display: flex;
    flex-direction: column;

    gap: 32px;
}

#exp > ul{
    display: flex;
    flex-direction: column;

    gap: 64px;
}

#exp > ul > li{
    display: flex;
    align-items: center;
    gap: 16px;
}

.exp_img{
    width: 752px;
    height: 406px;
}

.exp_li_par{
    flex-direction: row-reverse;
}

.exp_li_texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp_li_texto > h3{
    font-size: 22px;
    font-weight: 700;
}

.exp_li_texto > span{
    display: flex;
    gap: 16px;
}

.button_rep{
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    background-color: #F5F5F5;

    padding: 16px;
    font-size: 1em;
    font-weight: 400;
}

.button_demo{
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    color: white;

    padding: 16px;
    font-size: 1em;
    font-weight: 400;
}

/*Final*/
#final{
    margin: 0px 150px;
}

#rodape{
    text-align: center;
}