@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: 'Raleway', sans-serif;
    color: #464646;

    background-color: #F5F5F5;
}

/*Cabeçalho*/

#cabecalho{
    margin: 0px 150px;
    padding: 32px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1em;
}

#cabecalho > p{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}

.lista_menu{
    display: flex;
    gap: 25px;

    font-weight: 500;
}
.links{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #464646;
}

/*Main*/

#principal{
    margin: 0px 150px;
    padding-top: 16px;
}

/*Introdução*/
#intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 16px;
}

#intro_text > h1{
    font-size: 3.25em;
    font-weight: 700;
}
#intro_text > p{
    font-size: 1.5em;
    font-weight: 400;
}
#intro_text > span{
    display: flex;
    gap: 32px;

    font-size: 1em;
    font-weight: 500;   
}

#minha_foto{
    height: 368px;
    width: 368px;
    background-size: contain;
    
    border-radius: 50%;
    flex-grow: 1;
}

/*Sobre mim*/
#sobre_mim{
    margin: 32px -150px;
    padding: 32px 150px;

    display: flex;
    flex-direction: column;

    gap: 16px;
    
    background-color: #eaf2fd;
}

.subtitulo{
    font-size: 2em;
    font-weight: 700;
}

#sobre_mim > h2{
    background-color: #eaf2fd;
}

#sobre_mim > p{
    max-width: 750px;
    background-color: #eaf2fd;

    text-align: justify;
}

.ass{
    width: 140px;
    height: 52px;
    background-color: #eaf2fd;
}

/*Partes com lista*/
.principal_parte{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.lista_horizontal{
    display: flex;
    gap: 16px;

    justify-content: center;
}

.principal_parte > h2{
    text-align: center;
}
/*Skills e Hobbies*/
.icone{
    height: 37px;
    width: 37px;
}

#lista_skills > li{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    padding: 16px;
    justify-content: flex-end;

    width: 176px;
    height: 174px;

    background-color: white;
    font-weight: 700;
}

#lista_hobbies > li{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    padding: 16px;
    justify-content: flex-end;

    width: 176px;
    height: 174px;

    background-color: white;
    font-weight: 700;
}

/*Formação*/
#formacao{    
    margin: 32px -150px;
    padding: 82px 150px;
    background-color: #eaf2fd;
}

#formacao > h2{
    background-color: #eaf2fd;
}

#lista_formacao{
    background-color: #eaf2fd;
}

#lista_formacao > article{
    display: flex;
    flex-direction: column;

    gap: 8px;
    background-color: #eaf2fd;
}

.formacao_imagem{
    display: flex;

    width: 400px;
    height: 347px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.formacao_imagem > img{
    background-color: white;
}
#ufrn{
    width: 300px;
    height: 190px;
}
#cev{
    width: 300px;
    height: 110px;
}
#ifrn{
    width: 300px;
    height: 110px;
}

#lista_formacao > article > h3{
    font-size: 22px;
    font-weight: 700;
    background-color: #eaf2fd;
}

#lista_formacao > article > p{
    font-weight: 500;
    background-color: #eaf2fd;
}

/*Experiência Profissional*/
#exp{
    display: flex;
    flex-direction: column;

    gap: 32px;
}

#exp > ul{
    display: flex;
    flex-direction: column;

    gap: 64px;
}

#exp > ul > li{
    display: flex;
    align-items: center;
    gap: 16px;
}

.exp_img{
    width: 752px;
    height: 406px;
}

.exp_li_par{
    flex-direction: row-reverse;
}

.exp_li_texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp_li_texto > h3{
    font-size: 22px;
    font-weight: 700;
}

.exp_li_texto > span{
    display: flex;
    gap: 16px;
}

.button_rep{
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    background-color: #F5F5F5;

    padding: 16px;
    font-size: 1em;
    font-weight: 400;
}

.button_demo{
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    color: white;

    padding: 16px;
    font-size: 1em;
    font-weight: 400;
}

/*Final*/
#final{
    margin: 0px 150px;
}

/*Contato*/
#contato{
    display: flex;
    gap: 16px;

    margin: 32px -150px 0px -150px;
    padding: 82px 150px;
    background-color: #eaf2fd;
}

#contato > img{
    width: 464px;
    height: 593px;
}

#contato > article{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #eaf2fd;
}

#contato > article > aside{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #eaf2fd;
}

#contato > article > aside > h2{
    background-color: #eaf2fd;
}

#contato > article > aside > p{
    background-color: #eaf2fd;
    font-size: 1em;
    font-weight: 500;
}

.contato_input{
    display: flex;
    flex-direction: column;
    background-color: #eaf2fd;

    gap: 32px;
}

.contato_input > input{

    width: 656px;
    height: 56px;

    padding: 0px 12px;

    background-color: white;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 1px #C8C8C8;
}

#imsg{
    width: 656px;
    height: 109px;

    padding: 12px;
    resize: none;
    background-color: white;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 1px #C8C8C8;
}

#imsg::placeholder{
    font-family: "Raleway", sans-serif;
    font-size: 1em;

    position: absolute;
    top: 12px;
    left: 12px;
}

.contato_input > input::placeholder{
    font-family: "Raleway", sans-serif;
    font-size: 1em;
}

#button_enviar{
    width: 165px;
    height: 51px;
}

/*Rodapé*/
#rodape{
    margin: 0px -150px;
    background-color: #ffffff;
    text-align: center;
    padding: 32px;
}

#rodape > p{
    background-color: #ffffff;
    font-weight: 500;
}

/*Botões*/
.button_rep:hover{
    background-color: #d4e4fa;
}

.button_demo:hover{
    background-color: #5595e9;
}

